* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color:ghostwhite;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #333333;
}

.nav-title {
    display: flex;
    align-items: center;
}

h1 {
   
}

ul li:hover {
    opacity: 1;
    text-decoration: none;
}


.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
 

}

.btn {
  background-color: #17a2b8;
  color: white;
  box-shadow: 2px 2px black;

}

ul li {
    list-style-type: none;
    opacity: 0.75;
}
