* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#wrapper {
    border: 3px solid lightgray;
    width: 500px;
    min-height: 100px;
    margin: 200px;
}


#card-header {
    background-color: teal;
    min-height: 60px;
    position: relative;
    margin-bottom: 20px;
}

#user-circle {
    position: absolute;
    top: 30px;
    left: 20px;
}

#card-header img {
    width: 60px;
    margin-bottom: 50px;
}

.small {
    width: 15px;
}

#location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#card-content {
    padding: 20px;
}


